.display3-shelf {
  border: 1px solid blue;
  border-radius: 5px;
  margin-top: 0.5em;
  max-width: 60rem;
  width: 100%;
}

details.display3-shelf:not([open]) {
  border-color: navy;
}

.display3-shelf__title {
  background-color: blue;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 0.1rem;
  text-align: center;
}

:not([open]) > .display3-shelf__title {
  background-color: navy;
  color: #cccccc;
}

.display3-shelf__title:active {
  background-color: #3333ff;
}

/* The default outline for focused and active (pressed) elements is hardly
   visible against the white background and the blue box outline.
   Use a more visible color.
 */
.display3-shelf__title:focus {
  outline-color: orange;
}

/* Hide the arrow that is present by default in a <summary/> tag */
summary.display3-shelf__title {
  /* Hack for Firefox */
  list-style: none;
}

/* Hide the arrow that is present by default in a <summary/> tag */
summary.display3-shelf__title::-webkit-details-marker {
  /* Hack for Chrome */
  display: none;
}

.display3-shelf__items {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem;
}

.display3-shelf__item {
  align-items: center;
  display: flex;
  /* Prevent long item names from being center-aligned when squished into
     multiple lines*/
  text-align: initial;
}

.display3-shelf__item-icon {
  cursor: pointer;
  height: 30px;
  margin-right: 0.3rem;
  width: 30px;
}

.display3-shelf__item-name {
  cursor: pointer;
  font-weight: bold;
}

.display3-shelf__item-count {
  margin-left: 0.3rem;
}
